name: Deploy Product API

on:
  push:
    branches:
      - main  # trigger on push to main branch

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: 21
        distribution: temurin

    - name: Build with Gradle
      run: ./gradlew clean build -x test

    - name: Copy JAR to app directory
      run: |
        sudo mkdir -p /opt/backend-app
        sudo cp build/libs/*.jar /opt/backend-app/app.jar
        sudo chown ubuntu:ubuntu /opt/backend-app/app.jar

    - name: Restart Spring Boot service
      run: |
        sudo systemctl daemon-reload
        sudo systemctl restart backend-app.service || \
        echo "[INFO] Service not found. Creating a new systemd service." && \
        echo "[Unit]
        Description=Backend Product API
        After=network.target

        [Service]
        User=ubuntu
        ExecStart=/usr/bin/java -jar /opt/backend-app/app.jar
        SuccessExitStatus=143
        Restart=always
        RestartSec=5

        [Install]
        WantedBy=multi-user.target" | sudo tee /etc/systemd/system/backend-app.service
        sudo systemctl daemon-reload
        sudo systemctl enable backend-app.service
        sudo systemctl restart backend-app.service

    - name: Show logs
      run: sudo journalctl -u backend-app.service -n 20 --no-pager
